<%- include("partials/header") %>
  
  <% if (variableEjs === "rusty") { %>
    <p>Rusty is the best!</p>
  <% } else { %>
    <p>You should have searched for rusty</p>
  <% } %>

<%- include("partials/footer") %>